:root {
  --primary-color: #8d8d8d;
  --secondary-color: #d1d1d1;
  --tertiary-color: #531CB3;
  --complementary-color: #d23874;
  --subcomplementary-color: #272635;
  --dark-color: #333333;
  --darker-color: #1f1f1f;
  --light-color: #808A9F;
  --white-color: #F2F4F3;
}

.btn-secondary {
  background-color: var(--complementary-color);
  color: var(--white-color);
  font-weight: 600;
  padding: 10px;
  border: solid var(--dark-color) 2px;
  box-shadow: var(--dark-color) 0 5px;
}